<% include partials/header %>

<div class="center">

  <div class="ui main text container segment">
    <div class="ui huge header">
      Edit <%=blog.title%>
    </div>
    <form class="ui form" action="/blogs/<%=blog._id%>?_method=PUT" method="post">
      <div class="field">
        <label>Title</label>
        <input type="text" name="title" value="<%=blog.title%>">
      </div>
      <div class="field">
        <label>Image</label>
        <input type="text" name="img" value="<%=blog.img%>">
      </div>
      <div class="field">
        <label>Content</label>
        <textarea rows="2" name="content"><%=blog.body%></textarea>
      </div>
      <button class="ui green basic big button" type="submit">Submit</button>
    </div>

  </form>
  </div>
<% include partials/footer %>
